
chess.xcodeproj/xcuserdata/yelienakhaletska.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

chess.xcodeproj/project.xcworkspace/xcuserdata/yelienakhaletska.xcuserdatad/IDEFindNavigatorScopes.plist

*.xcbkptlist
